@font-face {
  font-family: 'beatles';
  src: url(fonts/Bootle-4B9l.ttf);
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --seasalt: #f8f9fa;
  --silver: #cfd1d4;
  --gray: #a5a9ae;
  --black: #181b1e;
}

/* NAV */

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

header .title {
  background-color: var(--black);
  color: var(--silver);
  padding: 10px 0;
  font-size: 1.5 em;
}

header nav ul li {
  z-index: 999;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  background-color: var(--seasalt);
  color: var(--black);
  height: 2.7em;
  align-items: center;
}

nav ul a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.3em;
}

ul.right li a:hover {
  color: var(--silver);
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li:hover ul.dropdown {
  display: block;
  width: 6%;
  height: 15%;
}

/* The End of NAV */

/* Main */

/* Home */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(pics/beatles5.jpg);
  background-repeat: no-repeat;
  padding-top: 20em;
  font-family: beatles;
  color: lime;
  border: 2px solid black;
  width: 84em;
  height: 25em;
}

.home h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.home button {
  width: 130px;
  height: 30px;
  background-color: var(--gray);
  border-radius: 20px;
  font-size: 0.9em;
  font-family: beatles;
}

.home button:hover {
  background-color: var(--silver);
  cursor: pointer;
}

/* The End of Home */

/* Main Styling */

main {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  padding-bottom: 20px;
  color: var(--black);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Article */

.titleArt {
  text-align: center;
}

.member {
  padding: 10px;
  border: 2px solid black;
}

.member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

ul li {
  list-style-type: none;
}

.member {
  display: flex;
  gap: 5px;
}

.text p {
  padding-top: 10px;
}

/* End of Article */

/* Gallery */

.gallery .container {
  display: grid;
  grid-template-rows: repeat(5, 20%);
  grid-template-columns: repeat(5, 20%);
  border: 2px solid black;
  width: 77rem;
  height: 77rem;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.georgeMartin {
  border: 2px solid black;
  grid-column: 4 / 6;
  grid-row: -6 / -3;
  background-color: var(--silver);
}

.walrus {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.sgtpepper {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

aside article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 10px;
}

.georgeMartin img {
  width: 50%;
  height: 50%;
  padding: 0 25%;
}

.paul2 {
  grid-column: 4 / 6;
  grid-row: -3 / -1;
}

.john2 {
  grid-column: 2 / 4;
  grid-row: 4 / 6;
}

/* The End of Main */

footer {
  background-color: var(--black);
  color: var(--silver);
  text-align: center;
  padding: 20px 0;
}

footer a {
  text-decoration: none;
  color: var(--silver);
}

.outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.container1 {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 1.5em;
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home {
    width: 47.7em;
    height: 25em;
  }

  .home h1 {
    font-size: 1.7em;
    text-align: center;
  }

  .gallery .container {
    width: 40rem;
    height: 40rem;
    border: 2px solid black;
  }

  .gallery aside p {
    font-size: 0.53rem;
  }

  .georgeMartin img {
    width: 6em;
    height: 6em;
    padding: 0 25%;
  }

  footer .outerContainer .container1 {
    font-size: 1rem;
  }
}

/* Phone */

@media (min-width: 481px) and (max-width: 767px) {
  nav {
    font-size: 0.73rem;
  }

  .home {
    width: 29.7em;
    height: 25em;
  }

  .home h1 {
    font-size: 1.4em;
    text-align: center;
  }

  footer .outerContainer .container1 {
    font-size: 1rem;
  }

  .gallery .container {
    width: 28rem;
    height: 28rem;
    border: 2px solid black;
  }

  aside h2 {
    font-size: 1.13rem;
  }

  .gallery aside p {
    font-size: 0.36rem;
  }

  .georgeMartin img {
    width: 3em;
    height: 3em;
    padding: 0 35%;
  }
}
